// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    #teste{
        margin: 20px 100px 0 100px; 
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    #teste{
        margin: 20px 100px 0 100px; 
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    #teste{
        margin: 20px 100px 0 100px; 
    }
}